{% include 'portfolio/partials/header.html' %}

<div class="p-list">
  <h2 class="p-title"> The Great Color Game </h2>
  <p class="p-desc"> A color guessing game using R,G,B values.</p>
  <p class="p-tech"> HTML5, CSS3, JavaScript, jQuery, Bootstrap</p>
  <p class="p-link"><a href="https://khalildh.github.io/colorGame/">  It's on GitHub </a></p>
  <p class="p-details"> I built this during the Web Development Course at York College. We were shown a playable game, and told to rebuild it. I created HTML and CSS first. Afterwords I built the logic using JavaScript. I did the DOM manipulation using jQuery.</p>
  <hr>
</div>
<div class="p-list">
  <h2 class="p-title"> 21 Game </h2>
  <p class="p-desc"> A card game where the player tries to get to 21.</p>
  <p class="p-tech"> Python 3 (Pygame) </p>
  <p class="p-link"><a href="https://github.com/khalildh/21-Game">  It's on GitHub </a></p>
  <p class="p-details"> I built this from an online prompt for the 21 Game, and by recylcing some old code I used to shuffle cards using Pygame. The card images were sourced from free assets on kenny.nl .</p>
  <hr>
</div>
<div class="p-list">
  <h2 class="p-title"> Linked List </h2>
  <p class="p-desc"> A Data Structure created using Object Oriented Programming</p>
  <p class="p-tech"> Java </p>
  <p class="p-link"><a href="https://github.com/khalildh/linkedListJava">  It's on GitHub </a></p>
  <p class="p-details">Using a Node class, a Linked List class created a Node object as the head, and them implemented methods for the Linked List. It is a good Data Structure for storing data in memory that has to be accessed in ways a normal array can't.</p>
  <hr>
</div>
<!-- <div class="p-list">
  <h2 class="p-title"> Title </h2>
  <p class="p-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p class="p-tech"> Technology </p>
  <p class="p-link"><a href="#">  Link </a></p>
  <p class="p-details"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <hr>
</div> -->





{% include 'portfolio/partials/footer.html' %}
