{% include 'portfolio/partials/header.html' %}

<article class="resume">
  <div class="r-contact">
    <p>New York City, NY <br>
      (718) 864-1014
    </P>
    <P>
      hughes.khalil@gmail.com <br>
      github.com/khalildh
    </P>
  </div>

  <div class="webDev">

    <h4 class="centerh4"> Web Developer </h3>

    <p>Energetic, results-driven individual with proven skills in web development using latest technology </p>

    <ul>
      <li>Demonstrated skills in JavaScript, CSS3 and HTML5</li>
      <li>Understanding of Django Web Framework and MVC architecture patterns</li>
      <li>Understanding of Java, Object Oriented Programming and Java Play Framework</li>
      <li>Understanding of SQL, database creation and setup</li>
    </ul>

    <h3>Technical Knowledge </h3>

    <p class="webTech">
      <p> HTLM5&emsp;&emsp;CSS3&emsp;&emsp;JavaScript&emsp;&emsp;jQuery&emsp;&emsp;Bootstrap &emsp;&emsp;</p>
      <p> Python&emsp;&emsp;Django&emsp;&emsp;Java&emsp;&emsp;MySQL&emsp;&emsp;OracleSQL &emsp;&emsp; </p>
      <p>Ubuntu&emsp;&emsp;git&emsp;&emsp; GitHub </p>
    </P>

  </div>
</article>


{% include 'portfolio/partials/footer.html' %}
