/* Mobile Responsive */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
}

header {
  background-color: white;
  border-bottom: 1px solid #FF2400;
  position: fixed;
  margin: auto;
  width: 100%;
  left: 0;
  right: 0;
}

/* Nav-Bar */

nav h1 {
  text-align: center;
  color: black;
}

nav h1:hover {
  color: #FF2400;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
}

nav li {
  height: 1.2em;
}

nav a {
  text-decoration: none;
  color: black;
  display: block;
  text-transform: uppercase;
  padding: 0em .3em;
  font-size: 1em;
}

nav a:hover {
  color: #FF2400;
}



.full-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 6em;
    min-height: 100%;
}

/* Home */

.home {
  width: 90%;
  margin: auto;
}

.home h2 {
  text-align: center;
  margin-top: 1em;
  font-size: 3em;
  font-weight: 200;
}

.home p {
  text-align: center;
  font-size: 2em;
}

.skill {
  display: flex;
  width: 55%;
  margin: auto;
  justify-content: center;
  margin-top: 3em;
}

.skill svg {
  padding: 0em .3em;
}

/* Portfolio */


.p-list {
  justify-content: center;
  width: 90%;
  margin: auto;
  background-color: white;
  left: 0;
	right: 0;
	padding: 1.5em 0em 0em 1em;
}


.p-list hr {
	display: block;
  height: 1px;
	border: 0;
	border-top: 1px solid #FF2400;
  margin: 1em 0 0 0;
  padding: 0;
}

.p-list h2 {
  font-size: 2.3em;
  font-weight: 900;
}

.p-list p {
  font-size: 1.1em;
  font-weight: bolder;
}

.p-link a{
  text-decoration: none;
  border-top: 1px solid #FF2400;
  border-bottom: 1px solid #FF2400;
  color: #FF2400;
  padding: 0em 0em;
  font-size: 1.3em;
}

.p-link a:hover {
  color: black;
}

/* Desktop Media Query */

@media screen and (min-width: 720px){

  header {
    width: 80%;
    left: 0;
    right: 0;
    position: fixed;
  }

  .full-container {
    padding-top: 4em;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  nav ul {
    transform: translate(0, 50%);
  }

  nav li {
    flex: 1 1 0;
  }

  .home h2 {
    margin-top: .5em;
  }

  .skill {
      width: 70%;
  }

  .p-list {
    justify-content: center;
    width: 70%;
    margin: auto;
    background-color: white;
    left: 0;
  	right: 0;
  	padding: 1.5em 0em 0em 1em;
  }

}
