* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
}

header {
  border-bottom: 1px solid #FF2400;
  position: fixed;
  margin: auto;
  width: 70%;
  left: 0;
  right: 0;
}

nav h1 {
  text-align: center;
  color: black;
}

nav h1:hover {
  color: #FF2400;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
}

nav li {
  height: 1.2em;
}

nav a {
  text-decoration: none;
  color: black;
  display: block;
  text-transform: uppercase;
  padding: 0em .3em;
  font-size: 1em;
}

nav a:hover {
  color: #FF2400;
}

.full-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 6em;
    min-height: 100%;
}

.home h2 {
  text-align: center;
  margin-top: 1em;
  font-size: 3em;
  font-weight: 200;
}

.home p {
  text-align: center;
  font-size: 2em;
}

.skill {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  margin-top: 3em;
}

/*.skill svg {
  padding: 0em .1em;
}*/

.skill div {
  display: flex;
  justify-content: center;
  margin: 0;
}



@media screen and (min-width: 720px){

  header {
    width: 80%;
    left: 0;
    right: 0;
    position: relative;
  }

  .full-container {
    padding-top: 2em;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  nav ul {
    transform: translate(0, 50%);
  }

  nav li {
    flex: 1 1 0;
  }

  .home h2 {
    margin-top: .5em;
  }



}
